<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valeria Vallecillo</title>
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<body>
    <h1>Valeria Vallecillo</h1>

    <h2>PORTFOLIO</h2>

    <!-- Botones de filtro -->
    <div id="myBtnContainer">
      <button class="btn active" onclick="filterSelection('all')"> Todo </button>
      <button class="btn" onclick="filterSelection('voluntariado')"> Voluntariado </button>
      <button class="btn" onclick="filterSelection('trabajo')"> Trabajo </button>
      <button class="btn" onclick="filterSelection('contactos')"> Contactos</button>
    </div>
    
    <!-- Contenido Portfolio -->
    <div class="row">

        <!-- Sección de Voluntariado -->
      <div class="column voluntariado">
        <div class="content">
          <h4>Voluntariado</h4>
        </div>
      </div>
      <div class="column voluntariado">
        <div class="content">
          <img src="/static/images/hope.png" alt="HOPE" style="width:100%">
          <h4>HOPE</h4>
          <p>2020 - Actualidad</p>
        </div>
      </div>
      <div class="column voluntariado">
        <div class="content">
          <img src="/static/images/raices.jpeg" alt="RAICES" style="width:100%">
          <h4>RAICES</h4>
          <p>2020</p>
        </div>
      </div>
      <div class="column voluntariado">
        <div class="content">
          <img src="/static/images/EM.png" alt="ESEN MUSIC" style="width:100%">
          <h4>ESEN Music</h4>
          <p>2019 - Actualidad</p>
        </div>
      </div>
    
      <!-- Sección de Experiencia Laboral -->
      <div class="column trabajo">
        <div class="content">
          <h4>Experiencia Laboral</h4>
        </div>
      </div>
      <div class="column trabajo">
        <div class="content">
          <img src="/static/images/mkt.jpg" alt="ESEN MUSIC" style="width:100%">
          <h4>Coordinador de Marketing - ESEN Music</h4>
          <p>2019 - 2020</p>
        </div>
      </div>
      <div class="column trabajo">
        <div class="content">
          <img src="/static/images/Charamuskis.jpeg" alt="CHARAMUSKIS SM" style="width:100%">
          <h4>Co-fundadora de  Charamuskis</h4>
          <p>2020 - Actualidad</p>
        </div>
      </div>
      <div class="column trabajo">
        <div class="content">
          <img src="/static/images/probecas.png" alt="PROBECAS" style="width:100%">
          <h4>Composicion de jingle promocional - Carrera Probecas 2019</h4>
          <p>2019-2020</p>
        </div>
      </div>
      
      <!-- Sección de Contactos -->
      <div class="column contactos">
        <div class="content">
          <h4>Contactos</h4>
        </div>
      </div>
      <div class="column contactos">
        <div class="content">
          <img src="/static/images/sven.jpg" alt="Sven" style="width:100%">
          <h4>Sven Guzmán</h4>
          <p>sguzman@esen.edu.sv</p>
        </div>
      </div>
      <div class="column contactos">
        <div class="content">
          <img src="/static/images/arrue.jpg" alt="Arrue" style="width:100%">
          <h4>David Arrué</h4>
          <p>arrue08@yahoo.com</p>
        </div>
      </div>
      <div class="column contactos">
        <div class="content">
          <img src="/static/images/balbino.jpg" alt="Balbino" style="width:100%">
          <h4>Balbino Aylagas</h4>
          <p>baylagas@esen.edusv</p>
        </div>
      </div>
    <!-- END GRID -->
    </div>

    <!-- Javascript -->
    <script src="/static/script.js"></script>
  </body>
</html>